<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>Favorite Pokemon</title>
   </head>

   <body>
      <h1>Select your Favorite Pokemon</h1>
      <form action="/find" method="post" id="apply-form">
         <fieldset>
            <label>Name: <input type="text" name="name" /></label>
         </fieldset>
         <br />
         <input type="reset" />
         <input type="submit" value="Submit Favorite Pokemon" />
      </form>
      <hr />
      <a href="/">HOME</a>
   </body>
</html>
