<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>Favorite Pokemon</title>
   </head>

   <body>
      <h1>Favorite Pokemon Finder</h1>
      <form action="/findNames" method="post" id="apply-form">
         <fieldset>
            <label>Pokemon: <input type="text" name="pokemonName" /></label>
         </fieldset>
         <br />
         <input type="reset" />
         <input type="submit" value="Find Names" />
      </form>
      <hr />
      <a href="/">HOME</a>
   </body>
</html>
