<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>Favorite Pokemon</title>
   </head>

   <body>
      <h1>Welcome to The Favorite Pokemon Selector</h1>
      <ul>
         <li>
            To select a favorite pokemon:
            <a href="/select">Select Favorite Pokemon</a>
         </li>
         <li>
            To view someone's favorite pokemon:
            <a href="/find">See Favorites</a>
         </li>
         <li>
            To see users with certain favorite pokemon
            <a href="/findNames">Select by Favorite Pokemon</a>
         </li>
         <li>
            To remove an entry
            <a href="/remove">Remove Entry</a>
         </li>
         <li>
            To remove all entries
            <a href="/removeAll">Remove All Entries</a>
         </li>
      </ul>
      <hr />
   </body>
</html>
