<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>Pokemon Info</title>
   </head>

   <body>
      <h1>People with <%- pokemonName %> as their Favorite Pokemon</h1>
      <ul>
         <%- people %>
      </ul>
      <hr />
      <a href="/">HOME</a>
   </body>
</html>
