<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>Favorite Pokemon</title>
   </head>

   <body>
      <h1>Remove All Entries</h1>
      <form action="/removeAll" method="post" id="apply-form">
         <br />
         <input type="submit" value="Remove All Entries" />
      </form>
      <hr />
      <a href="/">HOME</a>
   </body>
</html>
